<html>
<head>
	{% load staticfiles%}
	<meta charset="UTF-8">
	<title>José Pérez</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">

<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>   
</head>
<body>
	<section class="lateral">
		
		<div class="perfil">
			<figure class="perfil__circulo">
				<img src="{% static 'img/perfil.jpeg'%}" class="perfil__foto">
			</figure>

			<h1 class="perfil__nombres">Jose Dario Perez Raymundo</h1>
			<h2 class="perfil_carrera">Bachiller Industrial y Perito en Computación</h2>
		</div>

		<div class="informacion">
				<h2 class="informacion_titulo">Desarrollador Web</h2>
				<p class="informacion_comentario">Al estar en la universidad en el curso de Desarrollo Web interactue creando proyectos WEB y me di cuenta de que el ser desarrollador web implica Diseño, Desarrollo y el Mantenimiento del sistema web, para esto hay que tener mucha dedicacion, ser autodidacta, disciplinado, eficiente, eficaz y he logrado experiencia estudiando y practicando en: </p>
			<ul class="habilidades">
				<li class="habilidad">Html</li>
				<li class="habilidad">CSS</li>
				<li class="habilidad">Python</li>
				<li class="habilidad">Django</li>
				<li class="habilidad">MySQL</l>
				
			</ul>
			<ul class="habilidades">
				<li class="habilidad">JQuery</li>
				<li class="habilidad">Bootstrap</li>
				<li class="habilidad">JavaScript</li>
				<li class="habilidad">SQLite</li>

			</ul>

		</div>
			</figure>
		</div>
	</section>
	<section class="personal">
		<div class="row">
			<article class="datos">
				<h1 class="datos_titulo">INFORMACION PERSONAL</h1>
				
			</article>
		</div>
	</section>
	<section class="personal">
		<div class="row">
			<article class="datos">
				<h3 class="datos_informacion">Guatemalteco</h3>
				<class class="educacion_descripcion">
				<p>DPI: 2416 52286 1703</p>
				<p>Lugar de Nacimiento: San Benito Petén, Guatemala</p>
				<p>Fecha Nacimiento: 23-12-1993</p>
				<p>Estado civil: Soltero</p>
				<p>Direccion: Aldea Cantel, San Pedro Sac, San Marcos</p>
				<p>Correo: info@joseperez93.com</p>
				<p>Celular: 5334 4315</p>
				</class>

			</article>
		</div>
	<section class="educacion">
		<div class="row">
			<article class="grado">
				<h1 class="educacion_grado">FORMACION ACADEMICA</h1>
				
			</article>
		</div>
	</section>
	<section class="educacion">
		<div class="row">
			<article class="grado">
				<h3 class="educacion_grado">Año 2017: Nivel Universitario</h3>
				<class class="educacion_descripcion">8vo. Semestre Ingenieria en Sistemas de la Informacion y Ciencias de la computacion</class>
				<p>Extension San Pedro Sac. San Marcos</p>

			</article>
		</div>
	</section>
	<section class="educacion">
		<div class="row">
			<article class="grado">
				<h3 class="educacion_grado">Año 2012: Nivel Diversificado</h3>
				<class class="educacion_descripcion"> Instituto Privado Mixto “Ferdinand Lasalle” San Pedro Sac, San Marcos</class>

			</article>
		</div>
	</section>
	<section class="educacion">
		<div class="row">
			<article class="grado">
				<h3 class="educacion_grado">Año 2009: Nivel Básico</h3>
				<class class="educacion_descripcion"> Colegio Evangélico Privado Mixto “Bethesda” Tejutla, San Marcos.</class>

			</article>
		</div>
	</section>
	<section class="educacion">
		<div class="row">
			<article class="grado">
				<h3 class="educacion_grado">Año 2007: Nivel Primario</h3>
				<class class="educacion_descripcion">E.O.U.M “Celeste Estela Fúnez Velásquez” Tejutla, San Marcos.</class>

			</article>
		</div>
	</section>	
	<section class="educacion">
		<div class="row">
			<article class="grado">
				<h1 class="educacion_grado">OTROS DATOS</h1>
				
			</article>
		</div>
	</section>

		
	
		<section class="proyectos">
			<div class="row">
				<article class="proyecto">
					<img src="{% static 'img/devcode.png'%}" class="proyecto__imagen"></img>
						<h3 class="proyecto_titulo">2017: DEVCODE</h3>
							<p class="proyecto_descripcion">Curso Profesional
							</p>
								<ul class="habilidades">
									<li class="habilidad">Html y CSS</li>
					
								</ul>
					</article>
		
			<article class="proyecto">
				<img src="{%static 'img/esetlogo.jpg'%}" class="proyecto__imagen"></img>
					<h3 class="proyecto_titulo">2017: ACADEMIA ESET</h3>
						<p class="proyecto_descripcion">Curso
						</p>
							<ul class="habilidades">
								<li class="habilidad">1. USO DE MEDIOS INFORMATICOS</li>
									<li class="habilidad">2. BACKUP</li>
									</ul>
			</article>
		</div>
		<div class="arrow">
			<article class="proyecto">

				<img src="{% static 'img/logoumg2.png'%}" class="proyecto__imagen"></img>
					<h3 class="proyecto_titulo">2017: UMG SAN PEDRO SAC. SAN MARCOS</h3>
						<p class="proyecto_descripcion">TALLERES </p>
								<ul class="habilidades">
									<li class="habilidad">  1. STARTUP</li>
									<li class="habilidad">   2. MARKETING DIGITAL</li>
						
								</ul>
			</article>
		<article class="proyecto">
			<img src="{% static 'img/intecap.jpg'%}" class="proyecto__imagen"></img>
					<h3 class="proyecto_titulo">2016: INTECAP, SAN MARCOS</h3>
						<p class="proyecto_descripcion">Curso</p>
								<ul class="habilidades">
									<li class="habilidad">INGLES BASICO 1 REGULAR PRESENCIAL</li>
						
								</ul>
		</article>
		</div>
		<div class="arrow">
			<article class="proyecto">
				<img src="{static 'static/img/cisco.jpg'}" class="proyecto__imagen"></img>
				<h3 class="proyecto_titulo">2016: ACADEMIA CISCO INTECAP SAN MARCOS</h3>
					<p class="proyecto_descripcion">Niveles: </p>
				
						<ul class="habilidades">
							<li class="habilidad">1. CCNA ROUTING & SWITCHING: INTRODUCCIÓN A REDES</li>
							<li class="habilidad">2. CCNA ROUTING & SWITCHING: PRINCIPIOS BÁSICOS DE ROUTING Y SWITCHING</li>
						</ul>
			</article>
		<article class="proyecto">
			<img src="{% static 'img/logoumg2.png'%}" class="proyecto__imagen"></img>
					<h3 class="proyecto_titulo">2016: UMG SAN PEDRO SAC, SAN MARCOS</h3>
						<p class="proyecto_descripcion">TALLER</p>
								<ul class="habilidades">
									<li class="habilidad">JAVA TOUR ”INTRODUCCION AL DESARROLLO DE APLICACIONES ANDROID”</li>
									
						
								</ul>
		</article>
		</div>

		</div>
		<div class="arrow">
			<article class="proyecto">
				<img src="{% static 'img/info.gif'%}"proyecto.png"" class="proyecto__imagen"></img>
					<h3 class="proyecto_titulo">2015: INFO&MAS GUATEMALA</h3>
						<p class="proyecto_descripcion">TALLER</p>
								<ul class="habilidades">
									<li class="habilidad">1RA. JORNADA NACIONAL DE INFORMÁTICA FORENSE, DERECHO INFORMATICO Y PROTECCIÓN DE DATOS</li>
						
								</ul>
			</article>
		<article class="proyecto">
			<img src="{% static 'mg/info.gif'%}i" class="proyecto__imagen"></img>
				<h3 class="proyecto_titulo">2015: INFO&MAS GUATEMALA</h3>
					<p class="proyecto_descripcion">CERTIFICACION </p>
				
						<ul class="habilidades">
							<li class="habilidad">PERITO FORENSE DIGITAL</li>
						</ul>
		</article>
		</div>

		<div class="row">
				<article class="proyecto">
					<img src="{% static 'img/logoumg2.png'%}" class="proyecto__imagen"></img>
					<h3 class="proyecto_titulo">2015: UMG SAN PEDRO SAC, SAN MARCOS</h3>
						<p class="proyecto_descripcion">TALLERES</p>
								<ul class="habilidades">
									<li class="habilidad">1. RECOLECCION Y MANEJO DE EVIDENCIAS EN DELITOS INFORMATICOS</li>
									<li class="habilidad">2. FALSIFICACION Y ROBO DE IDENTIDADES EN LAS TARJETAS DE DEBITO Y CREDITO”</li>
									
						
								</ul>
					</article>
		
			<article class="proyecto">
				
					<img src="{% static 'img/logoumg2.png'%}" class="proyecto__imagen"></img>
					<h3 class="proyecto_titulo">2014: UMG SAN PEDRO SAC, SAN MARCOS</h3>
						<p class="proyecto_descripcion">TALLERES</p>
								<ul class="habilidades">
									<li class="habilidad">1. HACKING ETICO</li>
										<li class="habilidad">2. SISTEMA DE INFORMACION GEOGRAFICA GIS</li>
											<li class="habilidad">3. SISTEMA DE POSICIONAMIENTO GLOBAL GPS</li>

									
						
								</ul>
			</article>
		</div>

		<div class="row">
				
			<article class="proyecto">
				
					<img src="{% static 'img/logoumg2.png'%}" class="proyecto__imagen"></img>
					<h3 class="proyecto_titulo">2013: UMG SAN PEDRO SAC, SAN MARCOS</h3>
						<p class="proyecto_descripcion">TALLERES</p>
								<ul class="habilidades">
									<li class="habilidad">1. CMS</li>
										<li class="habilidad">2. PHONEGAP</li>
											<li class="habilidad">3. HERRAMIENTAS CASE</li>
									
						
								</ul>
			</article>
		</div>
	</section>

<script src="{% static 'static/js/codigo.js'%}"></script>
</body>
</html>