*{
	box-sizing: border-box;
}
.lateral{
	background-color: #007acc;
	bottom: 0;
	left: 0;
	padding: 1em;
	position: fixed;
	top: 0;
	width: 350px;
}
/* Perfil */

.perfil__circulo {
	border-radius: 50%;
	height: 50px;
	overflow: hidden;
	margin: 0;
	width: 50px;
}
.perfil_carrera{
	font-family: Arial;
	color: white;
	font-size: 12;

}
.perfil__foto {
	width: 100%;
}

.perfil__nombres {
	color: #fff;
	font-size: 20px;
	margin-left: .5em;
	width: 250px;
	font-size: 20px;
}

.perfil__nombres, .perfil__circulo {
	display: inline-block;
	vertical-align: middle;
}

.informacion{

	color: #000066;
	position: absolute;
	bottom: 1em;
}
.informacion_titulo{

	font-size: 20px;
	color: #000066;
}

/*habilidades */
.habilidades{
	padding: 0px;
	margin-right: 10px;
	border-top: 5px;
	margin-bottom: 5px;

}

.habilidad {
	background-color: #000080;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	padding: .5em;
	font-family: Arial;
	
}

.grado, .datos {
	margin-left: 350px;
	padding: 1em;
	display: table;
	font-family: Arial;
}

.proyectos{
	margin-left: 350px;
	padding: 1em;
	display: table;
}
.proyecto{
	display: table-cell;
	padding: 1em;
	width: 50%;

}
.proyecto__imagen{
	width: 30%;

}

h1{
	margin-bottom: 0px;
	position: center;
	font-family: Tahoma;
	font-size: 50px;
	
}
li{
	margin-bottom: 4px;
}
.img{
	position: center;
}
 
